$breakpoints: (
    sm: 428px,
    md: 1024px,
    lg: 1728px,
); //these are acc to figma ui, as disscussed

$colors: (
    text-primary-heading: #eb9b00,
    text-secondary-heading: #002f52,
    text-regular: #000000,
    text-light: #474646,
    text-extra-light: #474646,
    text-white: #ffffff,
    bg-regular: #ffffff,

    bg-light: #ebecee,
    bg-gradient: linear-gradient(to right, #002f52, #326589),
    bg-btn-inactive: #c4c4c4,
);

$weights: (
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
);

// All of these size are in px will be converted to rem
$font-size: (
    small: 14,
    regular: 16,
    large: 18,
    larger: 20,
    extra-large: 24,
    largest: 32,
    extra-largest: 36,
);
