* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

button {
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}
