@use '../abstract' as *;

h1 {
    font-family: Poppins, sans-serif;
    font-weight: $font-weight-bold;
    font-size: rem($font-size-large);
    color: $color-text-white;

    @include respond-to('tablet') {
        font-size: rem($font-size-extra-largest);
        font-weight: $font-weight-bold;
    }
}

h2 {
    font-family: Poppins, sans-serif;
    font-weight: $font-weight-bold;
    font-size: rem($font-size-large);
    color: $color-text-primary;
}
